<!DOCTYPE html>
<html lang="en" ng-app="angularApp">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Latihan Upload AngularJS</title>
   <link rel="stylesheet" href="./lib/css/bootstrap.min.css">
   <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/fontawesome.min.css" integrity="sha512-8Vtie9oRR62i7vkmVUISvuwOeipGv8Jd+Sur/ORKDD5JiLgTGeBSkI3ISOhc730VGvA5VVQPwKIKlmi+zMZ71w==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
   <!-- <script src="./lib/js/angular.min.js"></script> -->
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body>
   <div class="container mt-5">
      <h3 class="mb-3">Upload File App</h3>
      <div class="row" ng-controller="uploadFilesController as controller">
         <div class="col-12">
            <div class="form-group">
               <input type="file" accept="image/*" class="form-control input-file"/>
               <p ng-if="path.show">{{ path.text }}</p>
            </div>
            <div class="d-flex align-items-end flex-column mt-3 mb-4">
               <button ng-click="handleShow()" class="btn btn-primary">Show</button>
            </div>
         </div>
      </div>
   </div>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
   <script src="./lib/js/bootstrap.bundle.min.js"></script>
   <script src="./main.js"></script>
</body>
</html>